body {
    background-color: #d9d7d7;
}


.get-loan-button {
    background-color: #0A512F30;
    padding: 10px 20px;
    border: 0px;
    border-radius: 5px;
    cursor: pointer;
}

.user-dashboard-balance-conatiner {
    margin-left: 300px;
    display: flex;
    width: 759px;
    justify-content: space-between;
    align-items: center;
    color: green;
    height: 70px;

}

.defict {
    font-size: 12px;
    font-family: Roboto;
    margin-top: 0px;
    margin-bottom: 0px;
}

.amount {
    font-size: 30px;
    margin-top: 0px;
    height: 47px;
    margin-left: 10px;
}

.money-container {
    padding: 10px;
    background-color: green;
    margin-right: 10px;
}

.money-info-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.tab-container {
    margin-left: 300px;
    display: flex;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    overflow: hidden;
    width: 759px;

}

.tab {
    flex: 1;
    padding: 15px 20px;
    text-align: center;
    font-weight: bold;
    border-right: 1px solid #ddd;
    cursor: pointer;
    background-color: white;
    transition: background 0.3s;
}

.tab:last-child {
    border-right: none;
}

.tab.active {
    background-color: #6B99081A;
}

.user-dashboard-container {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
}

.search-bar-container {
    margin-left: 300px;
    width: 759px;
    margin-top: 20px;
    align-items: center;
    padding: 10px 0px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    background-color: #ffffff;

}

.search-input {
    height: 100%;
    width: 100%;
    border: 0px;
    outline: 0px;

}


.form-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    width: 956px;
    padding: 80px 50px;
    position: absolute;
    top: 130px;
    left: 150px;
}

.user-input {
    width: 340px;
    height: 40px;
    border-radius: 5px;
}

textarea {
    height: 170px;
    width: 340px;
}

.terms-and-condition {
    width: 300px;
    background-color: aquamarine;
}

.form-input {
    display: flex;
    justify-content: space-evenly;
}

.form-button {
    background-color: #0A5210;
    align-self: flex-start;
    margin-left: 100px;
    margin-top: 40px;
    padding: 10px 20px;
    border: 0px;
    border-radius: 10px;
    color: white;
}

.user-loan-list-container {
    padding: 20px 100px;
}